header{
  display: flex;
  justify-content: space-between;
  height: 140px;
}

ul{
  display: flex;
  margin-right: 150px;
  margin-top: 80px;
}

li{
  margin-left: 15px;
}

.main1 {
  text-align: center;
  position: relative;
  z-index: 20;
}

.avav{
  position: absolute;
  top: 30px;
  left: 120px;
  z-index: 40;
}

.word{
  position: absolute;
  left: 400px;
  bottom: 47px;
  z-index: 30;
}

h2{
  font-weight: normal;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 150px;
}

@media screen and (max-width: 767px){
  

  .header-right{
    text-align: center;
  }
  

  li{
    display: none;
  }

  .main1{
    display: block;
  }
}

/* latest articleの部分 */

/* latest article の装飾 */
h1{
  font-size: 30px;
}
.content{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* articlesの装飾 */

.articles{
  width: 1000px;
  height: 900px;
  /* border: solid 1px black;  */
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;  
}
.articlebox{
  display: flex;
  justify-content: center;
}
.box{
  width: 300px;
  height: 350px;
  /* border: solid 1px black; */
}
.pic{
  width: 300px;
}
.more{
  display: flex;
  justify-content: flex-end;
  position: absolute;
}
.more p{
  position: relative;
  top: 70px;
  left: 185px;
}
p{
  line-height: 25px;
}
