
header{
  height: 100vh;
  width: 1152px;
  margin: 0 auto;
  
}
#header {
  text-align: center;

}

.menulist{
  top: 10%;
  right: 50px;

}

ul{
  display: flex;
  justify-content: end;
  /* margin-top: 30px;  */
}

li{
  padding-left: 10px;
}



.main {
  position: relative;
  margin-top: 140px;
}

.img-pc1{
  text-align: center;
  display: block;
  margin: 0 auto;
}

.header-av{
  position: absolute;
  top: -25%;
  right: 80%;
}

.text-pc{
  position: absolute;
  right: 0.5%;
  top: 53%;
}

p{
  font-size: 20px;
  padding-left: 100px;

}


footer{
  line-height: 100px;
  background-color: black;
  text-align: center;
  color: white;
  width: 100%;
}