
header{
  height: 90vh;
  width: 1152px;
  margin: 0 auto;
  font-family: '游ゴシック体';
}

@media screen and (max-width: 767px){
  header{
    width: 100%;
    height: auto;
  }
  
}


#header {
  text-align: center;
  height: 100px;
}

.sp-av{
  display: none;
}

.menulist{
  right: 50px;

}

ul{
  display: flex;
  justify-content: end;
  padding-top: 70px;
}

li{
  padding-left: 30px;
}

@media screen and (max-width: 767px){
  .sp-av{
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  
  ul{
    display: none;
  }
  
}

/* 写真真ん中 */
.main {
  position: relative;
  margin-top: 40px;
}

.img-pc1{
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 100vw;
  z-index: 30;
}

.img-sp1{
  display: none;
}

.header-av{
  position: absolute;
  top: -25%;
  right: 80%;
  z-index: 40;
}

.text-pc{
  position: absolute;
  right: 0.5%;
  top: 53%;
  z-index: 40;
}

.text-sp{
  display: none;
}

@media screen and (max-width: 767px){
  .main{
    margin-top: 70px;
    max-width: 100vw;
  }

  .img-pc1{
    display: none;
  }
  .img-sp1{
    display: block;
  }
  
  .header-av{
    display: none;
  }

  .text-pc{
    display: none;
  }
  .text-sp{
    display: block;
    position: absolute;
    top: 6%;
    z-index: 50;

  }
}

p{
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.br-sp{
  display: none;
}

@media screen and (max-width: 767px){
  p{
    text-align: center;
    margin-bottom: 20px;
  }
  .br-sp{
    display: block;
  }
}

/* latest article の装飾 */
h1{
  font-size: 30px;
}
.content{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .content{
      font-size: 30px;
      /* height: 100vh; */
  }
}
/* articlesの装飾 */
.articles{
  width: 1000px;
  height: 900px;
  /* border: solid 1px black;  */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px){
  .articles{
    display: block;
    height: auto;
  }
}

.articlebox{
  display: flex;
  justify-content: center;
}
.box{
  width: 300px;
  height: 350px;
  /* border: solid 1px black; */
}
@media screen and (max-width: 767px){
  .box  {
    margin: 0 auto;
  }
}
.pic{
  width: 300px;
}
.more{
  display: flex;
  justify-content: flex-end;
  position: absolute;
}
.more h3{
  position: relative;
  top: 70px;
  left: 185px;
}
h3{
  line-height: 25px;
  font-weight: normal;
}



footer{
  line-height: 100px;
  background-color: black;
  text-align: center;
  color: white;
}

@media screen and (max-width: 767px) {
  footer{
    height: 70px;
    line-height: 50px;
  }
  .footer-word{
    font-size: 10px;
  }
}




